* {
	margin: 0;
	padding: 0;
}

/* ELEMEN NAVIGASI BAR */

div.navbar {
	/*background-image: linear-gradient(to left, #33ccff,#80dfff);*/
	background-color: #33ccff;
	height: 50px;	
	width: 100%;
	position: fixed;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.4);
}

#logo {
	width: 135px;
	margin: 10px;
	padding-left: 10px;
}

.menu {
  display: inline;
  position: absolute;
  right: 40px;
  bottom: 10%;
  box-shadow: 0px, 1px, 1px, rgba(0,0,0,5);
}

.isi {
	float: left;
	list-style-type: none;
	text-align: center;
	padding: 10px;
	font-family: calibri;
	font-size: 17px;
	font-weight: bold;
}

.menu a {
	text-decoration: none;
	color: black;
}

/* KONTEN */

#judul {
	position: absolute;
	font-size: 40px;
	font-family: calibri;
	font-weight: bold;
	text-align: center;
	margin-top: 180px;
	margin-left: 400px; 
}

#java {
	width: 250px;
	height: 250px;
	margin-left: 530px;
	margin-top: 350px;
}

.parag1 {
	font-size: 23px;
	color: #666666;
	font-family: calibri;
	margin-top: 100px;
	margin-left: 280px;
	text-align: left;
}

#j-isi {
	font-size: 40px;
	font-family: calibri;
	margin-left: 280px;
}

.parag2 {
	font-size: 23px;
	color: #666666;
	font-family: calibri;
	margin-left: 280px;
	text-align: left;	
}

#code { 
	margin-top: 30px;
	margin-left: 50px;
	font-size: 18px;
	font-family: courier;
}

#parag3 {
	font-size: 23px;
	color: #666666;
	font-family: calibri;
	margin-left: 280px;
	text-align: left;	
}

.art {
	background color: #666666; 
	width: 100%;
	height: 50px;
}

/* FOOTER */

.footer {
	background-image: url('footer1.png');
	width: 100%;
	height: 250px;
	margin-top: 400px;
}

#gambar-bawah {
	width: 155px;
	margin-top: 70px;
	margin-left: 260px;
	position: absolute;
}

#penjelasan {
	font-size: 20px;
	color: white;
	font-family: calibri;
	padding-top: 130px;
	padding-left: 220px;
}

#judul-kontak {
	color: white;
	font-size: 30px;
	font-family: calibri;
	font-weight: bold;
	margin-left: 870px;
	margin-top: -200px;
}

#kontak {
	color: white;
	font-size: 20px;
	font-family: calibri;
	margin-left: 850px;
	margin-top: 20px;
}

.term {
	background-color: #666666;
	width: 100%;
	height: 50px;	
	margin-top: 25px;
}

#p {
	color: white;
	font-size: 13px;
	padding-top: 17px;
	padding-left: 20px;
}

#copy {
	color: #a6a6a6;
	font-family: calibri;
	font-size: 15px;
	padding-left: 600px; 
	margin-top: -17px;
}



